/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
:root {
	--header-height: 5rem;

	--my-gradient: linear-gradient(90deg, silver, white);
	--my-gradient-nth-child: linear-gradient(90deg, white, silver);

	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #000;
	--secondary: #6c757d;

	--main-color: #f7e6df;
	/* --first-color: #75492b; */
	--theme-color: #bfbfbf;
	--first-color: var(--gray-dark);
	/* --first-color: #ff716e; */
	--second-color: #dfd6a7;
	--white-color: #fff;
	--black-color: #151515;

	--scroll-bar-color: rgb(255, 255, 255);
	--scroll-thumb-color: rgba(197, 197, 197, 0.6);

	--font-headers: 'Lora', serif;

	--font-cursive: 'Montserrat', cursive;
	/* --font-cursive: 'Dancing Script', cursive; */
	/* --font-cursive: 'Great Vibes', cursive; */
	--font-body: 'Raleway', sans-serif;
	/* --font-body: 'Montserrat', sans-serif; */

	--big-font-size: 2.75rem;
	--h1-font-size: 2.5rem;
	--h2-font-size: 1.5rem;
	--h3-font-size: 1.25rem;
	--normal-font-size: 1rem;
	--small-font-size: 0.813rem;

	--h1-font-weight: 600;
}
/* **************** CSS Reset ****************** */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	/* box-sizing: border-box; */
	margin: 0;
	/* padding: 0; */
	text-decoration: none;
	list-style: none;
	outline: none;
	border: none;
}

html {
	scroll-behavior: smooth;
}
/*
  Typographic tweaks!
  antialiased. Improve text rendering
*/
body {
	background-color: var(--white-color);
	font-size: var(--normal-font-size);
	font-family: var(--font-body);
	/* overflow-x: hidden; */
	-webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* ********** Buttons ********** */
.btn {
	width: 240px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: var(--white-color);
	/* background-color: var(--first-color); */
	color: var(--gray-color);
	border: 1px solid var(--first-color);
	border-radius: 50px;
	font-size: 0.85rem;
	/* font-weight: 500; */
	text-transform: uppercase;
	line-height: 1rem;
	padding: 10px 20px;
	cursor: pointer;
	transition: all 0.4s ease;
	overflow: hidden;
}
.btn:hover {
	background-color: var(--gray-dark);
	color: var(--white-color);
	/* font-weight: 500; */
}
.btn-outline {
	width: 230px;
	background-color: transparent;
	color: var(--first-color);
	padding: 10px 10px 10px 0;
	transition: all 0.4s ease;
	position: relative;
}
.btn-outline::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 18%;
	height: 100%;
	background-color: var(--first-color);
	border: 1px solid var(--first-color);
	border-radius: 50px;
	transition: all 0.4s ease-in-out;
}
.btn-outline i {
	margin-right: 1.5rem;
	font-size: var(--h3-font-size);
	color: var(--white-color);
	z-index: 11;
	transition: 0.2s all ease-in-out;
}

.btn-outline:hover::before {
	width: 100%;
	z-index: -1;
}
.btn-outline:hover {
	color: var(--white-color);
	z-index: 10;
}
.btn-outline:hover i {
	color: #075e54;
	font-weight: 600;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: var(--header-height);
	background-color: rgba(255, 255, 255, 0.3);
	z-index: 1000;
	transition: all 0.4s ease;
}
.scroll-header {
	background-color: var(--white-color);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: all 0.2s ease-in-out;
}
/* .scroll-header {
	background-color: var(--white-color);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} */
.navbar {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}
.logo img {
	width: 9rem;
}

.nav-menu {
	display: flex;
}
.nav-menu a {
	margin-right: 2rem;

	text-decoration: none;
}
.nav-link {
	font-size: var(--normal-font-size);
	color: var(--black-color);
	font-weight: bold;
	text-transform: capitalize;
	position: relative;
	transition: all 0.4s ease;
}
.nav-link::before {
	content: '';
	position: absolute;
	width: 0;
	left: 0;
	bottom: -6px;
	/* height: 0.355rem; */
	height: 6px;
	background-color: var(--theme-color);
	transition: all 0.4s ease-in-out;
}
.nav-link:hover::before {
	width: 100%;
}
/* ========= Active Link ========= */
.active-link {
	color: rgba(191, 191, 191, 0.9);
	/* color: var(--theme-color); */
}
/* .nav-menu a:active {
	color: var(--theme-color);
} */

/* .nav-link:hover,
.nav-link.active {
	color: var(--first-color);
} */
#menu-btn {
	font-size: var(--h2-font-size);
	/* padding: 2px 6px; */
	/* border: 6px solid transparent; */
	cursor: pointer;
	z-index: 100;
	display: none;
}
/* .nav-toggle {
	font-size: var(--h2-font-size);
	padding: 2px 6px;
	border: 6px solid transparent;
	cursor: pointer;
	z-index: 100;
	display: none;
} */
/* .nav-toggle:hover {
	color: var(--first-color);
	border: 6px solid var(--first-color);
} */

/* Start: Home Section CSS */

.home {
	width: 100%;
	height: 100vh;
	background-image: var(--my-gradient);
	/* background-color: var(--main-color); */
	border-radius: 0 0 300px 0;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
/* .home .home-img img {
	max-width: 100%;
	height: 100%;
	width: 450px;
} */
.home .home-img img {
	padding-top: 45%;
	width: 320px;
	z-index: -1;
}
.home .home-content {
	width: 40%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.home-content h1 {
	/* font-family: var(--font-cursive); */
	font-size: var(--h1-font-size);
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 3.5rem;
	/* line-height: 3.5rem;
	letter-spacing: 2px; */
	color: var(--first-color);
	margin-bottom: 1.5rem;
}
.home-content p {
	font-weight: 400;
	line-height: 1.5rem;
	letter-spacing: 2px;
	color: var(--black-color);
	margin-bottom: 1.5rem;
}

/* End: Home Section CSS */

/* Start About Section */
.about {
	width: 100%;
	padding: 7rem 0;
	/* background-image: url(/img/arabesque-bg-btm-left.png);
	background-repeat: no-repeat;
	background-position: bottom left;
	z-index: -1; */
}
.about .container {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.section-title {
	margin: 0 auto;
	text-align: center;
}
.section-title h2 {
	/* font-family: var(--font-cursive); */
	font-size: var(--h1-font-size);
	font-weight: var(--h1-font-weight);
	line-height: 3rem;
	color: var(--first-color);
}
.section-title h3 {
	font-weight: 300;
	font-size: var(--h2-font-size);
	line-height: 1.5rem;
	color: var(--black-color);
}
.about-detail {
	width: 100%;
	padding: 2rem;
}
.about-detail-content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	align-items: center;
	place-items: center; /* Center both vertically and horizontally */

	border: 2px solid var(--first-color);
	border-radius: 1rem;
	padding: 1rem;
}
.about-img img {
	max-width: 100%;
	/* width: 100%; */
	border-radius: 1rem;
	filter: drop-shadow(16px 16px 16px rgba(0, 0, 0, 0.25));
}
.about-description {
	position: relative;
	padding: 2rem;
}
.about-description::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 105%;
	top: -10%;
	left: 0;
	background-color: rgba(255, 255, 255, 0.3);
	/* background: linear-gradient(10deg, silver, white); */
	/* background-color: var(--main-color); */
	border-radius: 1rem;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
	/* box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.25); */
	z-index: -1;
}
.about-description p {
	font-weight: 400;
	line-height: 2rem;
	color: var(--black-color);
	text-align: center;
}

/* End About Section */

/* Start Products Section */
.products {
	width: 100%;
	padding: 7rem 0;
	background: var(--my-gradient-nth-child);
	/* background-color: var(--main-color); */
	border-radius: 300px 0;
}
.products-content {
	/* padding: 2rem; */
	max-width: 1100px;
	width: 95%;
	margin: 0 auto;
}
.all-products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(16rem, 100%), 1fr));
	gap: 1rem;
	margin-top: 2.5rem;

	/* width: 1100px;
	margin: 3rem auto 0;
	display: grid; */
	/* grid-template-columns: repeat(3, 1fr); */
	/* 	grid-template-columns: repeat(auto-fit, minmax(8em, auto));
	gap: 5%; */
	/* Added */
	/* background-color: var(--white-color);
	box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25); */
	/* border-radius: 30px; */
	/* border-radius: 300px 0;
	padding: 1.5rem;
	margin: 10px auto; */
}

.product-card {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	/* 	margin-bottom: 1rem; */
	position: relative;
	/* added */
	background-color: var(--white-color);
	/* background-color: var(--main-color); */
	box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25);
	/* border-radius: 0 300px; */
	border-radius: 1rem;
	padding: 1.5rem;
	margin: 10px auto;
	width: 17em;
	height: 23.5rem;

	transition: all 0.2s ease-out;
}
.product-card:hover {
	transform: scale(1.1);
	/* background-color: var(--white-color); */
	box-shadow: 16px 16px 24px rgba(0, 0, 0, 0.25);
}
/* .product-card::after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	border-radius: 30px;
	background-color: var(--second-color);
} */
.products-img {
	width: 3rem; /* Set the desired width */
	/* min-height: 7.5rem; */ /* Ensure the minimum height */
	/* float: left; */
}
.products-img,
.products-box,
.product-btn {
	flex: 0 0 130px; /* Set a fixed width for all child elements */
}
.products-img img {
	width: 100%; /* Make the image fill the container horizontally */
	height: auto; /* Maintain the image's aspect ratio */
	/* object-fit: contain; */
	/* width: 250px; */
	/* height: 35%;
	object-fit: cover;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	left: 10px; */
	transition: all 0.2s ease-in-out;
	/* z-index: 100; */
	/* added */
	margin-bottom: 0.5rem;
	/* border-radius: 1rem; */
}

/* .product-card:hover .products-img img {
	box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25);
	transform: scale(1.1);
} */
.products-description {
	margin: 0.5rem 0;
}
.product-card a {
	color: #ececec;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	background-color: var(--gray-dark);
	/* background-color: #2c3e50; */
	padding: 1.2rem 3rem;
	border-radius: 1rem;
	margin-top: 0.5rem;
	font-size: 0.85rem;
	transition: all 0.2s;
}
/* .product-card a:link,
.product-card a:visited {
	color: #ececec;
	display: inline-block;
	text-decoration: none;
	text-transform: capitalize;
	background-color: var(--gray-dark);
	padding: 1.2rem 3rem;
	border-radius: 1rem;
	margin-top: 1rem;
	font-size: 14px;
	transition: all 0.2s;
} */

.product-card a:hover {
	transform: scale(1.1);
}

/* .products-box a {
	margin: 0.5rem auto 0;
	text-decoration: none;
} */
/* .product-btn {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 1rem;
} */
.product-card:hover a {
	box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25);
}
.products-name h5 {
	font-weight: bold;
	font-size: 1rem;
	line-height: 1.3rem;
	margin-bottom: 0.5rem;
}
/* End Products Section */

/* Start Services Section */
.services {
	width: 100%;
	padding: 7rem 0;
	/* background-image: url(/img/arabesque-bg-top-left.png);
	background-repeat: no-repeat;
	position: top left;
	z-index: -1; */
}
.services-content {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
.services-content-description {
	width: 100%;
	/* max-width: 1200px;
	margin: 0 auto; */
	padding: 2rem;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	place-content: center;
	gap: 10px;
}
.services-content-description .box {
	padding: 20px;
}
.services-content-description .box .inner img {
	width: 90px;
	border-radius: 50%;
	margin-bottom: 1rem;
	margin: auto;
}
.services-content-description .box .inner {
	font-size: var(--h3-font-size);
	font-weight: 800;
	text-transform: capitalize;
	color: var(--first-color);
	padding: 10px;
	position: relative;
}
.services-content-description .box .inner::before,
.services-content-description .box .inner::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	box-sizing: border-box;
	transition: all 0.8s ease;
}
.services-content-description .box .inner::before {
	bottom: 0;
	left: 0;
	border-bottom: 3px solid transparent;
	border-left: 3px solid transparent;
}
.services-content-description .box .inner::after {
	top: 0;
	right: 0;
	border-top: 3px solid transparent;
	border-right: 3px solid transparent;
}
.services-content-description .box:hover .inner::before,
.services-content-description .box:hover .inner::after {
	width: 100%;
	height: 100%;
	border-color: var(--first-color);
}

/* End Services Section */

/* Start Package Section */
.package {
	width: 100%;
	padding: 7rem 0;
	background: var(--my-gradient);
	/* background-color: var(--main-color); */
	border-radius: 0 300px;
}
.package-cards {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	margin-top: 2.5rem;
	justify-content: center;
}
.card {
	display: flex;
	/* flex-grow: 1; */
	width: 18em;
	flex-direction: column;
	background-color: var(--white-color);
	box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25);
	border-radius: 1rem;
	padding: 1rem;
	margin: 0 auto;
	transition: all 0.4s ease-in-out;
}
.card:hover {
	transform: scale(1.1);
}
.card-title {
	text-align: center;
	margin-bottom: 0.5rem;
}
.card-title h3 {
	font-weight: 700;
	font-size: var(--h3-font-size);
	line-height: 1.8rem;
	color: var(--black-color);
}
/* .card-items {
	margin-bottom: 1rem;
} */
.item {
	display: flex;
	align-items: center;
}
.item p {
	font-size: var(--small-font-size);
	font-weight: 550;
	line-height: 1.5rem;
	color: var(--first-color);
	margin-left: 0.5rem;
}
.card-items .item p span {
	font-size: var(--small-font-size);
	font-weight: 300;
}
.item .check-icon,
.item .x-icon {
	font-size: var(--small-font-size);
}
.item .x-icon,
.item .not {
	color: var(--second-color);
}
.item .check-icon {
	color: var(--first-color);
}
.card a {
	margin: 1rem auto 0;
}
.card-title,
.card-items {
	flex: 0 0 50px;
}
.card-btn {
	margin-top: auto; /* Push .card-btn to the bottom */
}

/* End Package Section */

/* Start Gallery Section */
.gallery {
	width: 100%;
	padding: 7rem 0;
	position: relative;
}
.gallery::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 60%;
	top: 20%;
	left: 0;
	background: linear-gradient(15deg, silver, white);
	/* background-color: var(--main-color); */
	z-index: -1;
}
/* Gallery Swiper */

.swiper {
	width: 100%;
	height: 100%;
}
.gallery .swiper {
	width: 60%; /* Set your desired width */
	max-width: 1200px;
	margin: 2.5rem auto;
}

.gallery .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gallery .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: grab;
	transition: all 0.4s ease-in-out;
}
.gallery .swiper-slide img:active {
	cursor: grabbing;
}
.swiper-slide img:hover {
	transform: scale(1.05);
}

/* End Gallery Section */

/* Start Testimonials Section */
.testimonials {
	padding: 7rem 0;
	background: var(--my-gradient-nth-child);
	/* background-color: var(--main-color); */
	border-radius: 300px 0;
}
.testimonials-content {
	padding: 2rem;
}
/* .testimonials-card {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(16.5em, 100%), 1fr));
	gap: 5%;
	max-width: 1100px;
	width: 95%;
	margin: 3rem auto 0;


} */

/* Testimonials Swiper */
.testimonials .swiper {
	width: 85%;
	height: 100%;
	margin: 3rem auto 0;
	max-width: 1100px;
}
.testimonials .mySwiperTestimonials .swiper-pagination {
	position: absolute;
	bottom: 1.5rem;
}
.testimonials-item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 1rem;
	position: relative;
	overflow: hidden;
}
.testimonials-item::after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	border-radius: 30px;
	background-color: var(--second-color);
}
.testimonials-img img {
	width: 70px;
	height: 70px;
	object-fit: cover;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	left: 10px;
	transition: all 0.8s ease;
	z-index: 100;
}
.testimonials-item:hover .testimonials-img img {
	transform: translateX(240px) rotate(360deg);
}
.testimonials-box {
	position: relative;
	padding: 30px;
	z-index: 10;
}
.testimonials-name {
	margin-bottom: 1rem;
	margin-left: 0.5rem;
	text-align: center;
}
.testimonials-name h5 {
	font-weight: 400;
	font-size: var(--h3-font-size);
	line-height: 1.5rem;
	margin-bottom: 0.5rem;
}
.testimonials-name i {
	color: var(--first-color);
	font-size: var(--h3-font-size);
}
.testimonials-description p {
	line-height: 1.5rem;
	margin-top: 2rem;
}
/* End Testimonials Section */

/* Start Contact Section */
.contact {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	align-items: center;
	padding: 5rem 0;
}
.contact .section-title h3 {
	text-transform: uppercase;
	font-size: var(--h3-font-size);
}
.contact-list {
	/* width: 100%;
	max-width: 1200px;
	margin: 0 auto; */
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(16.5em, 100%), 1fr));
	gap: 1.2rem;
	/* align-items: center;
	padding: 7rem 0;
	border-bottom: 1px solid var(--first-color); */
}
.contact-data {
	text-align: center;
	margin-bottom: 1rem;
}
.contact-data img {
	width: 9rem;
	margin: auto;
}
.contact-data-social {
	margin-top: 1rem;
}
.contact-data-social i {
	color: var(--black-color);
	font-size: 2rem;
	padding: 0.125rem;
	transition: all 0.3s ease-in-out;
}
.contact-data-social i:hover {
	transform: scale(1.1);
	color: var(--second-color);
	/* color: #2c3e50; */
}
.contact-data h2 {
	font-weight: bold;
	font-size: var(--h2-font-size);
	line-height: 1.5rem;
	/* color: var(--black-color); */
	margin-bottom: 1rem;
	text-transform: capitalize;
}
.contact-data p {
	font-weight: 400;
	line-height: 1.5rem;
	text-align: center;
}
.contact-data a {
	color: var(--black-color);
	transition: 0.2s;
}
.contact-data a:hover {
	color: var(--second-color);
}
/* ========= Start Contact Form ========= */

.contact-form form {
	position: relative;
	padding-top: 2rem;
	padding-bottom: 7rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 60%;
	margin: 0 auto;
	/* margin-left: 2rem; */
}
.contact-form form input,
form textarea {
	border: 1px solid rgba(0, 0, 0, 0.1);
	/* border: none; */
	/* inner glow */
	box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.025);
	/* outline: none; */
	/* width: 80%; */
	/* padding: 1.2rem 1rem; */
	padding: 1rem 1.6rem;
	/* background: var(--main-color); */
	/* background: #1d1e22; */
	/* background: #555557; */
	color: var(--black-color);
	/* color: #9fa4ba; */
	/* color: #000; */
	/* font-size: var(--fs-body-p);
	font-weight: 300; */
	/* font-weight: 600; */
	/* margin-bottom: 0.275rem; */
	/* border-radius: 5px; */
}

.contact-form form input:focus,
form textarea:focus {
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color: #e0e0e0;
}

.contact-form textarea {
	resize: none;
	height: 15rem;
}
.contact-form form .contact-btn {
	color: #ececec;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	background-color: var(--gray-dark);
	/* background-color: #2c3e50; */
	padding: 1.2rem 3rem;
	border-radius: 1rem;
	margin-top: 0.5rem;
	font-size: 0.85rem;
	cursor: pointer;
	transition: all 0.4s;
}
.contact-form form .contact-btn:hover {
	transform: scale(1.1);
}
/* ========= End Contact Form ========= */
/* End Contact Section */

/* Start Footer Section */
.footer {
	margin: 0 2rem;
	border-top: 1px solid var(--first-color);
}
.footer .credit {
	text-align: center;
	padding: 1rem 0;
}
.footer .credit p {
	font-weight: 500;
	line-height: 1.5rem;
}
.footer .credit span {
	font-size: var(--small-font-size);
	line-height: 1rem;
	text-transform: capitalize;
}
.credit a {
	font-weight: 500;
	color: #26a7d8;
	text-decoration: none;
}
.credit a:hover {
	color: #30c5ff;
}

/* .footer-iconTop {
	position: fixed;
	bottom: -100px;
	right: 50px;
	visibility: hidden;

	opacity: 0.7;
}

.footer-iconTop.active {
	visibility: visible;
	bottom: 50px;
}
.footer-iconTop.hidden {
	visibility: hidden;
}

.footer-iconTop i {
	color: #000;
	background: var(--first-color);
	font-size: var(--small-font-size);
	padding: 0.9rem 1rem;
	border-radius: 40%;
	transition: 0.2s ease;
}

.footer-iconTop:hover {
	opacity: 1;
} */

/* End Footer Section */

/* ========== Start Catalogue Section ========== */
.catalogue {
	width: 100%;
	padding: 7rem 0 0;
	/* background-image: url(/img/arabesque-bg-btm-left.png);
	background-repeat: no-repeat;
	background-position: bottom left;
	z-index: -1; */
}
.catalogue .container {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
.catalogue-header {
	font-family: 'Great Vibes', cursive;
}

.catalogue-detail {
	width: 100%;
	padding: 2rem;
}
.catalogue-detail-content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	align-items: center;
	place-items: center; /* Center both vertically and horizontally */

	border: 2px solid var(--first-color);
	border-radius: 1rem;
	padding: 1rem;
}
.catalogue-img img {
	max-width: 100%;
	/* width: 100%; */
	border-radius: 1rem;
	filter: drop-shadow(16px 16px 16px rgba(0, 0, 0, 0.25));
}
.catalogue-table {
	position: relative;
	padding: 2rem;
}
.catalogue-table::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: var(--first-color);
	border: 5px solid rgb(151, 7, 7);
	border-radius: 1rem;
	box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.25);
	z-index: -1;
}
.catalogue table {
	font-weight: 400;
	line-height: 2rem;
	color: var(--white-color);
}

table .row-spacing td {
	opacity: 0;
}
.row-bold {
	font-weight: 600;
}
.row-bold td span {
	font-weight: normal;
}
ul {
	padding-left: 1.5rem;
}
li {
	list-style: disc;
}
.catalogue-detail a {
	margin: 1rem auto;
}
.gallery-catalogue {
	padding: 7rem 0 0;
}
/* ========== End Catalogue Section ========== */

/* ========== SCROLL UP ========== */
.scroll-up {
	position: fixed;
	right: 1rem;
	bottom: -20%;
	background-color: var(--first-color);
	opacity: 0.4;
	padding: 0.8rem 1rem;
	border-radius: 45%;
	z-index: 10;
	transition: 0.3s;
}

.scroll-up:hover {
	/* background-color: var(--first-color-alt); */
	opacity: 0.8;
}

.scrollup_icon {
	font-size: 1rem;
	color: #fff;
}

/* Show scroll */
.show-scroll {
	bottom: 12%;
}

/* ========= SCROLL BAR ========== */
::-webkit-scrollbar {
	width: 0.6rem;
	background-color: var(--scroll-bar-color);
	border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
	background-color: var(--scroll-thumb-color);
	border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(197, 197, 197, 1);
}

@media (max-width: 920px) {
	/* .logo img {
		width: 9rem;
	} */
	.nav-menu {
		position: absolute;
		top: 5rem;
		right: 0;
		width: 0;
		height: 100vh;
		/* background-color: var(--white-color); */
		background-color: hsla(0, 0%, 96%, 0.2);
		backdrop-filter: blur(16px);
		-webkit-backdrop-filter: blur(16px);
		font-size: var(--h2-font-size);
		text-align: center;
		text-transform: capitalize;
		padding-top: var(--header-height);
		box-sizing: 0 0 5px rgba(0, 0, 0, 0.4);
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
		transition: all 0.4s ease-in-out;

		display: inline-block;
	}
	/* ========== Show Menu ========== */
	/* .show-menu {
		width: 60%;
	} */
	.nav-menu.active {
		width: 60%;
	}
	.nav-menu a {
		display: block;
		padding: 1.2rem 0;
	}
	.nav-link {
		font-size: var(--h3-font-size);
	}
	#menu-btn {
		display: initial;
	}
	/* .nav-toggle {
		display: block;
	} */

	.home-content h1 {
		/* font-family: var(--font-cursive); */
		font-size: 2rem;
		/* line-height: 3.5rem; */
	}
	.home .home-img img {
		display: none;
	}
	.home .home-content {
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.section-title h2 {
		font-size: 1.95rem;
	}
	.about {
		padding: 5.5rem 0;
	}
	.about-detail-content {
		grid-template-columns: unset;
	}
	.about-img {
		display: none;
	}

	.about-detail {
		padding: 1rem;
	}
	.about-detail-content {
		padding: 0.5rem;
	}
	.about-description {
		padding: 0.5rem;
	}

	.about-description::before {
		height: 115%;
		left: 50%;
		transform: translateX(-50%);
	}
	.products {
		padding: 5.5rem 0;
	}
	.all-products {
		margin-top: 1rem;
	}
	.services {
		padding: 5.5rem 0;
	}
	.services-content-description {
		grid-template-columns: repeat(2, 1fr);
		padding: 0 1rem;
	}
	.package {
		padding: 5.5rem 0;
	}

	.package-cards {
		gap: 2.5rem;
		margin-top: 1.5rem;
		/* margin: 1.5rem 1rem; */
	}
	/* .card-title h2 {
		font-size: var(--h2-font-size);
	} */
	.gallery {
		padding: 5.5rem 0;
	}
	.gallery-catalogue {
		padding: 5.5rem 0 0;
	}
	.testimonials {
		padding: 5rem 0;
	}
	.contact {
		padding: 5.5rem 0;
	}
	.contact-data {
		padding-top: 1rem;
	}

	.catalogue {
		padding: 5.5rem 0 0;
	}
	.catalogue-detail {
		padding: 1rem;
	}

	.catalogue-detail-content {
		padding: 0;
	}
	.catalogue-table {
		padding: 1rem;
	}

	.catalogue-detail-content {
		grid-template-columns: unset;
		border: unset;
	}
	.catalogue-table::before {
		left: 50%; /* Center horizontally */
		transform: translateX(-50%); /* Adjust for half of its width */
		border-radius: 5px;
	}
	.catalogue table {
		line-height: 1.3rem;
	}
	table .row-details {
		font-size: 0.75rem;
	}
	ul {
		font-size: var(--small-font-size);
	}
	.row-bold td span {
		font-size: var(--small-font-size);
	}

	/* 	.all-products {
		width: 820px;
		margin-top: 3rem;
		grid-template-columns: repeat(2, 1fr);
	} */
	/* .testimonials-card {
		width: 820px;
		margin-top: 3rem;
		grid-template-columns: repeat(2, 1fr);
	} */
	/* .testimonials-card {
		max-width: 820px;
	} */
	.testimonials-item:hover .testimonials-img img {
		transform: translateX(220px) rotate(360deg);
	}
	/* .contact-list {
		max-width: 620px;
		border-bottom: 1px solid var(--first-color);
	} */
	/* 	.footer-iconTop {
		right: 10px;
	}
	.footer-iconTop.active {
		bottom: 30px;
	} */
}
@media (max-width: 560px) {
	/* Buttons */
	.btn {
		border: 2px solid var(--first-color);
	}
	.logo img {
		width: 7.5rem;
	}
	.home .home-content {
		padding: 0 2rem;
	}
	.services-content-description {
		padding: 1rem 0;
	}
	/* .services-content-description .box {
		padding: 1rem;
	} */
	.services-content-description .box .inner {
		font-size: var(--normal-font-size);
		font-weight: 600;
		padding: 5px;
	}
	/* .services-content-description {
		grid-template-columns: unset;
	} */
	/* 	.testimonials-card {
		max-width: 300px;
	} */
	/* .testimonials-img img {
		width: 55px;
		height: 21%;
	} */
	/* .card:hover {
		transform: scale(1);
	} */
	.gallery .swiper {
		width: 75%;
	}
	.testimonials .swiper {
		width: 100%;
	}
	.testimonials-item:hover .testimonials-img img {
		transform: rotate(360deg);
	}
	/* .contact-list {
		max-width: 420px;
		border-bottom: 1px solid var(--first-color);
	} */
	/* 	.footer-iconTop:hover {
		opacity: 0.7;
	} */
	.contact-form form {
		width: 100%;
		padding: 2rem 1rem 7rem;
		gap: 0.5rem;
	}
	.contact .section-title h3 {
		font-size: 1.1rem;
	}
	.contact-data img {
		width: 7.5rem;
	}
	.scroll-up:hover {
		opacity: 0.4;
	}
}
/* @media (max-width: 415px) {
	.contact {
		max-width: 315px;
		border-bottom: 1px solid var(--first-color);
	}
} */
